<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/style.css">
    <title>Document</title>
</head>
<body>

    <header class="header">
    
        <div class="barra">
            <h6>Menu<img src="../../resources/imagenes/barra.png" alt="" width="30px" height="30px"></h6>
    
            <ul>
                <li><a href=""><i class="bi bi-house-door ojo"></i>Inicio</a></li>
                <li><a href=""><i class="bi bi-person ojo"></i>Estudiantes</a></li>
                <li><a href=""><i class="bi bi-people ojo"></i>Profesores</a></li>
                <li><a href=""><i class="bi bi-clipboard2-plus ojo"></i>Asistencia</a></li>
                <li><a href=""><i class="bi bi-clipboard2-plus ojo"></i>Materias</a></li>
                <li><a href=""><i class="bi bi-clipboard-data ojo"></i>Notas</a></li>
                <li><a href=""><i class="bi bi-eye ojo"></i>Comportamiento</a></li>
                <li><a href=""><i class="bi bi-pencil-square ojo"></i>Codigos</a></li>
                <li><a href=""><i class="bi bi-box-arrow-left ojo"></i>Salir</a></li>
            </ul>
        </div>
    </header>
    <br><br>
    <p class="tituliestu">Pagina de Inicio</p>

    <div class="margenestu">
        
        <p class="etu"><img src="../../resources/imagenes/pro.png" alt="" width="50px" height="50px" class="laimgestu">Profesores</p>
    </div>

    <div class="todo">

        <br><br><br> <br>
            <div class="gatito divasistencia divasigasis">
            <div class="estu">
                <div class="todoasis"><br>
                <img src="../../resources/imagenes/asistencia.png" alt="" class="asistencia" width="60px" height="60px">
                <a href="" class="asistenciaestu"><br>Asignar Asistencia</a>
                </div>
            </div>
            
            </div>
    
            <div class="gatitoo divgrado divasigob">
            <div class="estu">
                <div class="todogrado">
                 <img src="../../resources/imagenes/observaciones.png" alt="" class="grado" width="80px" height="80px">
                <br><a href="" class="gradoestu">Asignar Observaciones</a>
                </div>
            </div>
           
            </div>
    
            <div class="gatitooo divinscripcioin divpromate">
                <div class="estu">
                    <div class="todoinscripcion">
                    <img src="../../resources/imagenes/mate.png" alt="" class="inscipcion" width="90px" height="90px">
                    <a href="" class="insestu"><br>Ver Materias</a>
                    </div>
                </div>
                </div>
        </div>

        <div class="marge">
            <div class="volviste">
            <a href="" class="Volver">Volver</a>
        </div>
        </div>

        <br><br><br>
        <footer>
            <div class="social-icons-container">
                <a href="" class="social-icons"></a>
                <a href="" class="social-icons"></a>
                <a href="" class="social-icons"></a>
                <a href="" class="social-icons"></a>
            </div>
            <ul class="footer-menu-container">
                <li class="menu-item">Legal</li>
                <li class="menu-item">Cookies</li>
                <li class="menu-item">Cess</li>
                <li class="menu-item">Software</li>
            </ul>
            <span class="copyright">2024 © - Desarrollado por el grupo de Software   </span>
        </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>